.weather-display--current-weather__daily-display--day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  h4 {
    width: 300px;
    vertical-align: middle;
    font-family: 'Roboto', serif;
    font-size: 2.3vw;
  }

  .weather-display--current-weather__daily-display--day__img {
    width: 8vw;
    height: 8vw;
  }
}
