.weather-display--current-weather__hourly-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .weather-display--current-weather__hourly-display--hourly {
    text-align: center;
  }
}
