@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zilla+Slab:ital@1&display=swap');

.weather-display--location-title {
  text-align: center;
  h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 6vw;
  }
}
