.navbar--location-search {
  text-align: center;
  label {
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
  }
  input {
    text-align: center;
    border: 2px solid white;
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
      0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    padding: 7px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
  }
  input:focus {
    border: 2px solid rgb(0, 0, 0);
  }
}
