.weather-display--location-refresh {
  text-align: center;
  margin: 10px;
  button {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  button:hover {
    background-color: darkgray;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}
